@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #318130;
  border-color: #318130;
  /* background: #318130; */
}

.ant-menu-light .ant-menu-item-selected,
.ant-menu-light > .ant-menu .ant-menu-item-selected {
  background-color: white;
  color: #318130 !important;
  height: 60px;
}
li.ant-menu-item.ant-menu-item-only-child {
}

.ant-menu-light.ant-menu-inline .ant-menu-item {
  margin-bottom: 20px;
  height: 60px;
  color: white;
}
.ant-menu-light:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  color: white;
}
.ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title{
    color: white;
    border: 1px solid white;
    height: 60px;
}
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title{
    color: white;
    /* border: 1px solid white; */
    height: 60px;
}
.ant-badge-count {
  position: absolute !important;
  top: 10px !important;
  right: 9px !important;
  inset-inline-end: 0;
  transform: translate(50%, -50%);
  transform-origin: 100% 0%;
}


/* table  */

.ant-table-cell:first-child{
  border-start-start-radius: 0px !important;
}
.ant-table-cell:last-child{
  border-start-end-radius: 0px !important;
}
.ant-table-thead > tr > th::before{
  display: none;
}
/* .ant-table-thead > tr > th{
  background-color: #318130 !important;
  color: white !important;
  border-bottom: none !important;
} */

/* date  */

.custom-date-picker{
  background-color: #318130;
  color:white;
  /* border: 1px solid #FA1131; */
  height: 40px;
  
}

.custom-date-picker:hover{
  background-color: #318130;
  color:white;
  /* border: 1px solid #FA1131 !important; */
  
}
.ant-btn-primary{
  color: rgb(255 255 255);
  background: #318130;
}
.custom-date-picker::-moz-focus-outer{
  background-color: #318130 !important;
  color:white;
  /* border: 1px solid #FA1131 !important; */
  
}
.custom-date-picker input::placeholder {
  color: rgba(255, 255, 255, 0.918) !important;
}

/* modal */
.ant-modal .ant-modal-content{
  background-color: rgba(0, 0, 0, 0.603) !important;
  border: 2px solid #318130;
  padding: 0px;
}
.ant-modal .ant-modal-header{
  border-radius: 8px 8px 0 0;
  margin-bottom: 8px;
  padding: 0;
  border-bottom: none;
  background-color:transparent; 
}
.ant-modal .ant-modal-close{
  color: white;
  font-weight: bold;
  background-color: #318130;
  
}
.ant-modal .ant-modal-close:hover{
  color: white;
  font-weight: bold;
  background-color: #318130;
}

.PhoneInputInput{
  outline: none;
  /* background-color: #EBF6FE; */
  background-color:  #F7F7F7;
  padding: 1rem;
  border-radius:5px ;
}
.PhoneInputCountry{
  margin-right: 15px !important;
  display: flex !important;
  gap:10px;
  background-color:  #F7F7F7;
  padding: 1rem;
  border-radius:5px ;
}

.ant-upload{
  background-color: white !important;
  width: 242px !important;
  border-radius: 40%;
}
.jodit-workplace{
  height: 400px!important;
}

.ant-pagination .ant-pagination-item-active{
  font-weight: 600;
  background-color: #ffffff;
  border-color: #318130;
}
.ant-pagination .ant-pagination-item-active a {
  color: #318130;
}
.ant-pagination .ant-pagination-item-active:hover{
  border-color: #318130;
}
.ant-pagination .ant-pagination-item-active a :hover{
  color: #318130;
}



.dynamic-delete-button {
  position: relative;
  top: 4px;
  margin: 0 8px;
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.ant-select-selector{
  border: none !important;
  background-color: #F7F7F7 !important;
}